<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <!--为重复节使用不同的名称 -->
  <section0>
    <key0>value</key0>
    <key1>value</key1>
  </section0>
  <section1>
    <key0>value</key0>
    <key1>value</key1>
  </section1>

  <!--使用name属性来区分元素-->
  <section name="section0">
    <key name="key0">value</key>
    <key name="key1">value</key>
  </section>
  <section name="section1">
    <key name="key0">value</key>
    <key name="key1">value</key>
  </section>

  
  <!--使用attribute来提供值-->
  <key attribute="value" />
  <section>
    <key attribute="value" />
  </section>
</configuration>

